@font-face {
    font-family: "Game of Brush";
    src: url("GameofBrush.ttf");
}

@font-face {
    font-family: "Montiss";
    src: url("Montiss.ttf");
}

body {
  background-color: #230051;
  font-family: Muli, sans-serif;
  font-weight: bold;
  color: #779CB7;
  margin-top: 30px;
}

h1 {
  font-family: "Game of Brush", sans-serif;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.hidden {
  display: none;
}

/* first screen */

#choice {
  font-family: "Game of Brush", sans-serif;
  font-size: 40px;
  color: #f6ce24;
}



a {
  text-decoration: none;
}

#x, #o {
  color: #f6ce24;
  font-weight: bold;
}

/* board */

#container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
/*   margin: 0 auto; */
  width: 420px;
  height: 420px;
  position: relative;
}

#board {
  position: absolute;
  width: 420px;
  height: 420px;
  border-collapse: collapse;
  border: 11px solid #230051;
}

#return {
  font-family: "Montiss", sans-serif;
  
  padding: 500px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  
  font-size: 50px;
  color: #ffffff;
}


td {
  border: 10px solid #f0cb2e;
  width: 120px;
  height: 120px;
  cursor: pointer;
  font-size: 70px;
  color: #F3E8EE;
  font-weight: bold;
  font-family: "Montiss", sans-serif;
  text-align: center;
}

/* final screen */

#winner {
  font-family: "Montiss", sans-serif;
  font-size: 80px;
  color: #F3E8EE;
  margin-top: -15px;
}

#new-game {
  font-family: "Montiss", sans-serif;
  font-size: 80px;
  color: #FF5E5B;
}
